<div id="page-content-wrapper" ng-controller="ContentCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ng-include src="'partials/header/header.html'"></ng-include>
            </div>
        </div>
        <div class="row top10">
            <div class="col-lg-12">
                <ng-include src="'partials/sidemenuswitch/sidemenuswitch.html'"></ng-include>
            </div>
        </div>
        <div class="row top10">
            <div class="col-lg-12">
               <ng-include src="'partials/calendar/calendar.html'"></ng-include>
            </div>
        </div>
        <div class="row top10">
            <div ng-class="{showDatePicker:showDatePicker}">
                <div class="col-lg-12">
                    <ng-include src="'partials/widgets/widgets.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>